# GITHUB
github_access_token:

# PHILIPS TV
philips_tv_ip_address:
philips_tv_mac_address:

# HOME
home_latitude:
home_longitude:

# TELEGRAM
telegram_api_key:
telegram_group_id:
telegram_jorge_id:

# DARKSKY
darksky_api_key: