# HOME SETTINGS
home_name:
home_latitude:
home_longitude:
home_elevation:
internal_url:
external_url:

## HTTP
ip_ban_enabled: true
login_attempts_threshold: 3

## HOMEKIT HOMES
main_homekit_home_port:

# THIRD PARTIES

## XIAOMI PURIFIER
xiaomi_purifier_host:
xiaomi_purifier_token:

## GITHUB
github_access_token:

## TELEGRAM
telegram_api_key:
telegram_group_id:
# telegram_group_id:
telegram_admin_id:

## Darksky
darksky_api_key:

## Open Weather Map
openweathermap_api_key:

## Plex
plex_token:
plex_host:
plex_port:

## SONOFF
sonoff_username:
sonoff_password:

## Wifi
wifi_ssid:
wifi_password:
tft_url_upload_nspanel:
tft_url_upload_nspanel_2:

## CAMERAS
# Living room
kitchen_cam_still_image_url:
kitchen_cam_stream_source:
kitchen_cam_username:
kitchen_cam_password:

# Entrance
entrance_cam_still_image_url:
entrance_cam_stream_source:
entrance_cam_username:
entrance_cam_password:

# Living room
living_room_cam_still_image_url:
living_room_cam_stream_source:
living_room_cam_username:
living_room_cam_password:

# Parking
parking_cam_still_image_url:
parking_cam_stream_source:
parking_cam_username:
parking_cam_password:

## ESP HOME
esphome_ota_password:
esohome_ap_password:

# Expires in 2 months, to renew
# https://psn-api.achievements.app/authentication/authenticating-manually#get-started
playstation_token:

eufy_username:
eudy_password: