## HOME SETTINGS
home_name:
home_latitude:
home_longitude:
home_elevation:
external_url:
internal_url:

## HTTP
ssl_certificate:
ssl_key:
server_host:
server_port:
ip_ban_enabled:
login_attempts_threshold:

## HOMEKIT HOMES
jorge_homekit_home_port:
marian_homekit_home_port:
marlyn_homekit_home_port:

## PHILIPS TV
philips_tv_ip_address:
philips_tv_mac_address:

# THIRD PARTIES

## XIAOMI GATEWAY
xiaomi_gateway_key:

## XIAOMI PURIFIER
xiaomi_purifier_host:
xiaomi_purifier_token:

## GITHUB
github_access_token:

## TELEGRAM
telegram_api_key:
telegram_group_id:
telegram_admin_id:

## Darksky
darksky_api_key:

## Open Weather Map
openweathermap_api_key:

## AccuWeather
accuweather_api_key: 

## Spotify
spotify_client_id: 
spotify_client_secret: 

## Duck DNS
duck_dns_sub_domain: 
duck_dns_access_token: